<div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1>Welcome to Sift</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <p>session: </p><%= session %>
          <p>session id: <%= session[:id] %> </p>
          <p>current user access token </p><%= current_user.access_token %>
          <br>
          <form ng-submit="submitForm()" ng-controller="mainController">
            <label>Search your repositories</label>
            <input type="text" placeholder="Enter keywords" ng-model="keyword">
            <input type="submit" value="Submit">
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
