<div ng-controller="mainController">
  <div class="jumbotron">
    <h1>Welcome to sift</h1>
  </div>

  <div id="about">
    <div class="row">
      <div class="col-md-6"><h3>What is sift?</h3></div>
      <div class="col-md-6"><h3>How does it work?</h3></div>
    </div>
    <div class="row">
      <div class="col-md-6"><p>Sift is....</p></div>
      <div class="col-md-6"><p>Login to...</p></div>
    </div>
  </div>

<!--   <div id="navbar-left" class="navbar-left">
    <form ng-submit="populateRepositories()">
      <h4>Your Repositories</h4>
      <input class="btn btn-default" type="submit" value="Populate!">
    </form>
    <div ng-controller="mainController">
      <div id="populate-repos">
        <div ng-repeat="repoCollection in repositories">
          <div ng-repeat="repository in repoCollection">
            {{repository}}
          </div>
        </div>
      </div>
    </div>
  </div> -->

<% if current_user %>

  <div id="search-function">
    <form id="create-collection" ng-submit="submitCollection()">
      <h4>Start a Collection:</h4>
      <input class="form-control" type="text" placeholder="Collection Name" ng-model="collection">
      <input class="btn btn-default" type="submit" value="Submit" ng-click="showSearchInfo = false">
    </form>
    <div ng-hide="showSearchInfo">
      <form id="keyword-search" ng-submit="submit()" >
        <h4>Search by keyword:</h4>
        <input type="text" placeholder="Enter keywords" ng-model="keyword" class="form-control">
        <div id="mvc">
          <label><input type="checkbox" ng-model="checkboxModel.models" value="app/models"> Model</label>
          <label><input type="checkbox" ng-model="checkboxModel.views" value="app/views"> View</label>
          <label><input type="checkbox" ng-model="checkboxModel.controllers" value="app/controllers"> Controller</label>
          <input class="btn btn-default" type="submit" value="Submit">
        </div>
      </form>
    </div>
    <div ng-controller="mainController">
      <div ng-repeat ="searchCollection in searchResults">
        <div ng-repeat="searchResult in searchCollection">
          <div>
            <input type="hidden" ng-model="url">
            <!-- <p>Path: {{searchResult.path}}</p> -->
            <a href={{searchResult.url}}>{{searchResult.url}}</a>
            <button class="glyphicon glyphicon-plus" ng-click="saveLink(url)"></button>
            <pre class="codeDisplay"><code>
              <label>{{searchResult.raw_code}}</label>
            </code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>

<p>Login to Github Silly!</p>

<% end %>

</div>
