#collection-show span {
  font-size: .7em;
  text-decoration: none;
  /*color: #4AA182;*/
}

#collection-show span a:hover {
  text-decoration: none;
}

#collection-show #remove {
  position: relative;
  text-decoration: none;
  font-size: 2.5em;
  left: 2em;
  top: 1em;
}

#collection-show #remove a:hover {
  text-decoration: none;
}

#collection-show h3 {
  text-indent: .5em;
}

#prof-url {
  font-size: 1.2em;
  text-indent: 1em;
}

#prof-url-path {
  font-size: 1.2em;
  text-indent: 1em;
}

/*Rich changes*/
.collection_right {
  background-color: #eee;
  width: 75%;
  float: right;
}

.collection_left {
  width: 25%;
  float: left;
}

#collection-show h1 {
  position: relative;
  /*left: 120px;*/
}

#collection-show h3 {
  position: relative;
  /*left: 120px;*/
}

#collection-show p {
  position: relative;
  /*left: 120px;*/
}
