#collection-show span {
  font-size: .7em;
  text-decoration: none;
  /*color: #4AA182;*/
}

#collection-show span a:hover {
  text-decoration: none;
}

#collection-show #remove {
  font-size: 2em;
  text-decoration: none;
}

#collection-show #remove a:hover {
  text-decoration: none;
}

/*Rich changes*/

.collection_right{background-color: #eee;
                  width: 75%;
                  float: right;}

#collection-show h1{position: relative;
                    left: 120px;}

#collection-show h3{position: relative;
                  left: 120px;}

#collection-show p{position: relative;
                  left: 120px;}

#remove{position: relative;
                  left: 120px;}
