#collection-show span {
  font-size: .7em;
  text-decoration: none;
  /*color: #4AA182;*/
}

#collection-show span a:hover {
  text-decoration: none;
}

#collection-show #remove {
  position: absolute;
  text-decoration: none;
  font-size: 2.5em;
  left: 25px;
}

#collection-show #remove a:hover {
  text-decoration: none;
}

#collection-show h3 {
  text-indent: .5em;
}

#prof-url {
  font-size: 1.2em;
  text-indent: 1em;
}

#prof-url-path {
  font-size: 1.2em;
  text-indent: 1em;
}
