body {
  height: 100%;
}

html {
  height: 100%;
}

#container {
  width: 100%;
}

#about {
  text-align: center;
  padding: 4em 1em 4em 1em;
}

#about h3 {
  font-weight: 700;
  font-size: 2em;
}

#about p {
  font-size: 1.5em;
}

#navbar-left {
  position: relative;
  text-align: justify;
  margin: 1em;
}

form#create-collection {
  line-height: 3em;
  margin-bottom: .5em;
}

div#populate-repos {
  width: 556px;
  height: 580px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: .5em;
}

div#repo-search {
  line-height: 3em;
}

div#keyword-search {
  line-height: 3em;
}

div#mvc {
  padding-top: 1em;
  word-spacing: .3em;
}

span#copyright {
  float: right;
  margin: 0 .5em 0 0;
  font-size: .7em;
  line-height: 2em;
}

div#search-function {
  position: relative;
  left: 3em;
}

#footer {
  position: relative;
  clear: both;
  bottom: 0;
  margin-top: .5em;
}
