body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #DDDAD6;
  height: 100%;
}

.navbar a {
  color: #AADDCB;
  text-decoration: none;
}

.navbar a:hover {
  color: #4AA182;
  text-decoration: none;
}

html {
  height: 100%;
}

#container {
  width: 100%;
  padding: 5em;
}

#about {
  text-align: center;
  line-height: 2em;
  padding: 8em 2em 8em 2em;
  width: 90%;
  margin: 0 auto;
}

#about h3 {
  font-weight: 700;
  font-size: 2em;
}

#about p {
  font-size: 1.5em;
}

#navbar-left {
  position: relative;
  text-align: justify;
  margin: 1em;
}

#red {
  color: #FF0000;
  font-size: .75em;
}

form#create-collection {
  line-height: 5em;
  margin-bottom: .5em;
  text-align: center;
}

form#create-collection h4 {
  margin: 0 auto;
  font-size: 2.7em;
  line-height: 1.3em;
}

div#populate-repos {
  width: 556px;
  height: 580px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: .5em;
}

div#repo-search {
  line-height: 3em;
}

#keyword-search {
  line-height: 4em;
}

div#mvc {
  word-spacing: .4em;
  font-size: 1.5em;
}

span#copyright {
  float: right;
  margin: 0 .5em 0 0;
  font-size: .7em;
  line-height: 2em;
}

div#search-function {
  position: relative;
  text-align: center;
}

div#search-function a {
  color: #003366;
}

div#search-function a:hover {
  color: #0052A1;
}

#code-snippet {
  margin: 0 auto;
  text-align: left;
}

#footer {
  position: relative;
  clear: both;
  bottom: 0;
  margin-top: 2em;
}

.codeDisplay {
  width: 80%;
  max-height: 500px;
  margin: auto;
}

#select {
  font-style: italic;
  font-weight: bold;
  font-size: .8em;
  line-height: .2em;
}

#error {
  font-size: 2em;
  color: #990000;
  text-align: center;
  font-style: italic;
  padding-top: 1em;
}
