<!DOCTYPE html>
<html ng-app="sift">
<head>
  <title>Sift</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar">
    <% if current_user %>
      <a class="navbar-link" href="/api/logout">Logout</a>
    <% else %>
      <a class="navbar-link" href="/api/login">Login</a>
    <% end %>
    <div class="navbar-header">
      <h1 class="navbar-brand">Sift</h1>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
