<!DOCTYPE html>
<html ng-app="sift">
<head>
  <title>Sift</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body class="container-fluid">
  <% if current_user %>
    <a href="/api/logout">Logout</a>
    <p>You are logged in! omgz!</p>
    <!-- <button ng-click="login()">Login</button> -->
  <% else %>
    <a href="/api/login">Login</a>
  <% end %>

<%= yield %>

</body>
</html>
