<!DOCTYPE html>
<html ng-app="sift">
<head>
  <title>Sift</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <a href="/api/logout">Logout</a>
    <p>You are logged in! omgz!</p>
    <!-- <button ng-click="login()">Login</button> -->
  <% else %>
    <a href="/api/login">Login</a>
  <% end %>

<%= yield %>

</body>
</html>
